@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #151B26;
    font-family: 'Roboto', 'Arial', sans-serif;
}
.new-user {
    font-size: 2.5rem;
    color: #7272AB;
}
.form {
    border: 5px solid #7899D4;
    background-color: #F0EFF4;
}
label {
   display: block;
   margin-bottom: 4px;
}
input {
    min-width: 100px;
    min-height: 30px;
    border: 1px solid #6F8695;
}
.btn-submit {
    background-color: #7272AB;
    padding: 8px 12px;
    border: none;
    margin: 20px 0;
    color: #fff;
}